@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #232121; 
$header-color:#a47171;  
$mainelement-color:#3e6ebc;
$nav-color:   #d3d3d3;         
$hover-color: #b1b1b1a8;
$active-color:#a79f97;         
$footer-color: #a47171;       
$text-color: #121212;   
//$main-element-color: #eaeaeac4;

/*testar*/

$light-bg: #ffffff;
$light-text: #000000;
$dark-bg: #0a052e;
$dark-text: #ffffff;

